$circle-size: 120px;

.container {
    width: 1020px !important;
}

@media (min-width: 992px) {
    .container {
        width: 1020px !important;
    }
}

@media (min-width: 768px) {
    .container {
        width: 1020px !important;
    }
}
container4 {
  margin: 20px;
 width: 200px;
 height: 200px;
 position: relative;
}
}

.box1 {
    width: 100%;
    height: 100%;
    background-color: white;
    border-color: grey;
    border-style: hidden;
    border-color: green;
    border-radius: 40px;
    float: left;
    font-size: 80%;
}

.box2a {
    width: 100%;
    height: 630px;
    float: right;

}

.box2 {
    width: 120px;
    height: 580px;
    background-color: white;
    border-color: grey;
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    float: right;
    margin-left: 10%;
    padding: 5%;
    word-break: normal;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    background-image: url('image/beleidspijl3.png'), url('image/beleidspijl3.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 140% 10%, 140% 91%;
}

.box3 {
    width: 100%;
    height: 700px;
    background-color: white;
    border-style: hidden;
    border-color: green;
    border-radius: 40px;
    background-image: url('image/beleidspijl1.png');
    background-repeat: no-repeat;
    background-position: 50% 35%;

}

.backgroundarrow2 {
  background-image: url('image/beleidspijl3.png'), url('image/beleidspijl3.png');
  background-repeat: no-repeat, no-repeat;
  background-position: -17% 8%, -17% 73%;
}


.backgroundarrow3 {
  background-image: url('image/beleidspijl3.png'), url('image/beleidspijl3.png');
  background-repeat: no-repeat, no-repeat;
  background-position: 113% 9%, 113% 82.5%;
}




.box4 {
    width: 300px;
    height: 700px;
    background-color: white;
    background-image: url('image/beleidspijl1.png'), url('image/beleidspijl2.png');
    background-repeat: no-repeat, no-repeat;
    background-position: 50% 35%, -70% 42%;
    border-style: hidden;
    border-color: green;
    border-radius: 40px;
    margin-left: 10%;

}

.backgroundarrow {
  background-image:  url('image/beleidspijl2.png');
  background-repeat: no-repeat;
  background-position: 0% 42%;
  z-index: -100;

}
.backgroundarrow2 {

}

.ditextbox {
    border-style: hidden;
    padding: 5%;
    margin-bottom: 35%;
    height: auto;
    width: 100px;
    font-size: 9px;
}

.fctextbox {
    border-style: hidden;
    padding: 5%;
    height: auto;
    width: 150px;

}

.textbox {
    border-style: hidden;
    padding: 5%;
    height: 175px;
    width: 300px;
}

.textbox2 {
    border-style: hidden;
    padding: 5%;
    margin-bottom: 40%;
    height: 175px;
    width: 300px;
}

.textbox3 {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 20%;
    float: right;
    height: 175px;
    width: 300px;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    position:absolute;
    left: 10px;
}

.textbox3a {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 20%;
    left: 50px;
    top: 200px;
    float: right;
    height: 175px;
    width: 300px;
    background-repeat: no-repeat;
    background-position: center;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    position: absolute;
}

.textbox3b {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 20%;
    height: 175px;
    width: 300px;
    float: right;
    background-repeat: no-repeat;
    background-position: center;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    position: absolute;
    top: 400px;
    left: 10px;
}

.textbox4 {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 20%;
    height: 175px;
    width: 300px;
    float: right;
}

.textbox4imga {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 65px;
    height: 175px;
    width: 300px;
    float: right;
    background-size: 130px 130px;
    background-repeat: no-repeat;
    background-position: left center;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    position: absolute;
    top: 0px;
    left: 40px;
}

.textbox4imgb {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 70px;
    height: 175px;
    width: 300px;
    float: right;
    background-size: 260px 110px;
    background-repeat: no-repeat;
    background-position: bottom center;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    display: inline-block;
    position: absolute;
    top: 202px;
    left: 70px;
}

.container7 {
  width: 100px;
  margin-top: 7%;
  float: left;
}

.container8 {
  width: 100px;
  float: left;
  margin-left: 20%;
  margin-top: 7%;
}

.textbox4imgc {
    border-style: solid;
    border-color: green;
    border-radius: 40px;
    padding: 5%;
    margin-bottom: 20%;
    height: 175px;
    width: 300px;
    float: right;
    border-width: thin;
    box-shadow: 10px 10px 5px #888888;
    position: absolute;
    top: 400px;
    left: 42px;
}

.greenheader {
    color: green;
    font-weight: bold;
}

.imagebox {
    border-style: hidden;
    margin-left: 10%;
    overflow: ;
    size: fixed;
}

.arrowup {
  margin-top: 5%;
  font-size: 9px;

}

.arrowdown {
  margin-top: 5%;
  font-size: 9px;
}

.arrowup::before {
    content: url('image/arrowup.png');

}

.arrowdown::before {
    content: url('image/arrowdown.png');
}

.body {
    background-color: white;
}
.jCProgress {
     position: absolute;
     z-index: 9999999;
     /*  margin-top:-15px; /* offset from the center */
}

.jCProgress > div.percent {
     font: 18px/27px 'BebasRegular', Arial, sans-serif;
     color:#ebebeb;
     text-shadow: 1px 1px 1px #1f1f1f;

     position:absolute;
     margin-top:40px;
     margin-left:22px;
     text-align: center;
     width:60px;
}

#stripeleft {
    border-left-style: solid;
    border-width: thin;
    padding: 2%;
}

#cardio {
    float: left;
    margin-right: 2%;
    position: absolute;
    top: 44px;
}

#jingjang {
    position: absolute;
    top: 85px;
}

#floattext {
    float: left;
    margin: 0;
    font-size: 65%;
    word-break: normal;
    width: 80%;
    position: absolute;
    left: 63px;
    top: 44px;
}

#floattext2 {
    float: left;
    margin: 0;
    font-size: 65%;
    word-break: normal;
    width: 80%;
    position: absolute;
    left: 63px;
    top: 85px;
}

.spacing {
    width: 100%;
    height: 5%;
    border-style: solid;
}

#textbox1 {
    font-size: 9px;
    position: absolute;
    top: 0px;
    left: 40px;
}

#textbox2 {
    left: 40px;
    top: 42px;
    font-size: 9px;
    position: absolute;
}

#textbox3 {
    position: absolute;
    font-size: 75%;
    font-size: 9px;
    left: 40px;
    top: 80px;
}

#toegerust {
    position: absolute;
    right: 230px;
    top: 50px;
}

#eisen {
    position: absolute;
    right: 230px;
    top: 95px;
}

#nieuwbaan {
    position: absolute;
    right: 230px;
    top: 132px;
}

#werkbelasting {
    position: absolute;
    right: 230px;
    top: 62px;
}

#regelmogelijkheden {
    position: absolute;
    right: 230px;
    top: 102px;
}

#textbox1b {
    position: absolute;
    left: 58px;
    font-size: 9px;
    top: 56px;
}
#textbox1f {
    position: absolute;
    left: 58px;
    font-size: 9px;
    top: 46px;
}

#textbox4 {
    position: absolute;
    font-size: 9px;
    top: 60px;
    left: 58px;
}

#textbox5 {
    position: absolute;
    font-size: 9px;
    top: 100px;
    left: 58px;
}

#titel1 {}

#beleidspijl1 {
    position: relative;
}

.floatleft {
    float: left;
}

.regionaam {
    background-color: green;
}

#content {
    position: relative;
}

#content img {
    position: absolute;
    bottom: 15px;
    right: 0px;
}

#contentb {
    position: relative;
}

#contentb img {
    position: absolute;
    bottom: 2px;
    right: 0px;
}

#contentc {
    position: relative;
    bottom: 15px;
    margin-right: 10%;
    margin-left: 30%;
    margin-top: 10%;
}

#tekstbox41 {
    float: left;
    display: inline-block;
    width: 10%;
}

#tekstbox42 {
    float: left;
}

#tekstbox43 {}

#tekstbox44 {}

#education {
    position: absolute;
    top: 50px;
}


@media only screen and (max-width: 990px) {
    .progress {
        margin-bottom: 20px;
    }
}
